@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --main-color: #FB6964;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#quote-box{
    background-color: white;
    border-radius: 5px;
    padding: 10px 50px;
    width: 450px;
    height: fit-content;
}
#text{
    color: var(--main-color);
    text-align: center;
    font-weight: 400;
    font-size: 1.75em;
}
#author{
    color: var(--main-color);
    font-size: 1em;    
    text-align: right;
}
#new-quote,
#tweet-quote{
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    border: 0;
}
#new-quote:focus{
    outline: 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;    
}
a{
    text-decoration: none;
}
#new-quote:hover,
#tweet-quote:hover{
    opacity: 0.85;
}

