:root{
    --main-color: #FB6964;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#quote-box{
    background-color: white;
    border-radius: 5px;
    padding: 10px 50px;
    width: 450px;
    height: fit-content;
}
#text{
    color: var(--main-color);
    text-align: center;
    font-weight: 400;
    font-size: 1.75em;
}
#author{
    color: var(--main-color);
    font-size: 1em;    
    text-align: right
}
#new-quote,
#tweet-quote{
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;    
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
a{
    text-decoration: none;
}
#new-quote:hover,
#tweet-quote:hover{
    opacity: 0.85;
}

